@model Havoc_And_Haven.Models.CrisisEvent

<h2>Create Crisis Event</h2>

<form asp-action="Create" method="post">
    <div>
        <label for="Title">Title</label>
        <input type="text" id="Title" name="Title" required />
    </div>

    <div>
        <label for="CreatedAt">Date</label>
        <input type="datetime-local" id="CreatedAt" name="CreatedAt" required />
    </div>

    <div>
        <label for="LocationId">Location</label>
        <select id="LocationId" name="LocationId">
            <option value="">Select Location</option>
            @foreach (Location location in ViewBag.Locations)
            {
                <option value="@location.LocationId">@location.Neighborhood</option>
            }
        </select>
        <span asp-validation-for="LocationId" class="text-danger"></span>
    </div>
    <div class="form-check">
        <input asp-for="IsResolved" class="form-check-input" type="checkbox" />
        <label asp-for="IsResolved" class="form-check-label"></label>
    </div>
    <span asp-validation-for="IsResolved" class="text-danger"></span>
    <button type="submit">Create Crisis Event</button>
</form>
