@model CrisisEvent
<h1>Respond to a Crisis Event</h1>
<form asp-action="Create">
	<div class="form-group">
		<label asp-for="Title" class="control-label"></label>
		<input asp-for="Title" class="form-control" />
		<span asp-validation-for="Title" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="Title" class="control-label"></label>
		<input asp-for="Title" class="form-control" />
		<span asp-validation-for="Title" class="text-danger"></span>
	</div>
	<div class="scroll-box">
		@foreach (Users hero in ViewBag.Heroes)
		{
			<input type="checkbox" value="@hero.UserId" name="selectedEvidence" /> @hero.Alias <br />
		}
	</div>
	<div class="form-group">
		<label asp-for="LocationId" class="control-label"></label>
		<select asp-for="LocationId" class="form-control" asp-items="ViewBag.Locations"></select>
		<span asp-validation-for="LocationId" class="text-danger"></span>
	</div>
</form>