@model Battle
<h1>Initiate Battle</h1>
<form asp-action="Create">

	<!-- Will need to link model to a villains list to pass into the crisis event -->
	<div class="form-group"> <!-- Non of the current properties will be set by anyone, so it will just be creating 
		and assigning villains
	-->
		@* <label asp-for="" class="control-label"></label> *@
		@* <select asp-for="" class="form-control" asp-items="ViewBag.CrisisEventId"></select> *@
		@* <span asp-validation-for="" class="text-danger"></span> *@
	</div>

</form>